
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Neucha&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Neucha&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif !important; */
  /* font-family: 'Neucha', cursive; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Neucha', cursive; */
}
/* antd over ride */

input{
  border-radius: 2px !important;
  border: 1px solid rgba(128, 128, 128, 0.388) !important;
  height: 40px !important;
}

input:focus,.ant-picker{
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}
label{
  font-size: 16px !important;
  color: black !important;
}
.ant-form-item{
  margin:10px 0px !important;
}
.primary-button{
  background-color: #005555 !important;
  border-color: #005555 !important;
  height: 40px !important;
  width: 100% !important;
  color: #fff !important;
  font-size: 16px;
  width: max-content !important;
}
.ant-picker-input input{
    border: none !important;
}
.ant-picker{
  border-radius: 2px !important;
  border: 1px solid rgba(128, 128, 128, 0.388) !important;
  height: 40px !important;
}

/* common style */

.ancher{
  color: black !important;
  text-decoration: underline !important;
  font-size: 16px !important;
}

.card-title{
  font-size: 22px;
  font-weight: bold;
  color: #00000097;
}

.page-title{
  font-size: 25px;
  color: #000000a5;
  font-weight: bold;
}
.normal-text{
  font-size: 1rem;
}
.card{
  box-shadow: 0 0 2px gray;
  border-radius: none !important;
}
.authentation{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005555;
}
.authenatation-fom{
  width: 400px;
}
.authentation .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(194, 129, 16);
  color: #fff;
  max-width: max-content !important;
  padding:  7px 15px !important;
  margin-left: -30px;
  border-bottom-left-radius: 15px ;
}

.spinner-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.74); 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
}
.spinner-border{
  width: 5rem;
  height: 5rem;
  color: #fff !important;
}